@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */

body {
  background: #a8a29e;
}

h1 {
  @apply text-2xl font-bold md:text-4xl;
}

main {
  @apply mx-auto;
}

/* footer styles */

footer a {
  @apply hover:text-stone-400;
}

/* card styles */

.card {
  @apply relative my-2 h-12 w-20 shrink-0 rounded-md bg-black/90 sm:h-24 sm:w-40;
}

.card p {
  @apply absolute left-1 top-1 text-xs font-extralight text-white sm:left-2 sm:top-2 sm:text-xl;
}

/* contact links styles */

.icon {
  height: 35px !important;
  width: 35px !important;
}
